

.side-bar {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: -100%;
    width: 365px;
    padding: 50px;
    padding-top: 50px;
    height: 100%;
    display: block;
    background-color: white;
    backdrop-filter: blur(7px);
    z-index: 1900;
    transition: all 600ms ease;
    box-shadow: -5px 0 20px -5px rgb(149 22 22 / 12%);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @media #{$large-mobile} {
        width: 320px;
        box-shadow: none;
    }
}
.side-bar.show {
    right: 0;
}
.side-bar button i {
    color: #fff;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    margin-top: -3px;
    border-radius: 50%;
}
.rts-sidebar-menu-desktop .body p.disc {
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
}

.rts-sidebar-menu-desktop .social-area {
    margin-top: 20px;
    margin-left: 0;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.rts-sidebar-menu-desktop {
    padding-top: 70px;
    a{
        &.logo-1{
            .logo{
                margin-bottom: 10px;
            }
        }
    }
}

.rts-btn{
    &.btn-main{
        &.menu-btn{
            svg{
                rect{
                    fill: #000;
                }
            }
            @media #{$smlg-device} {
                padding: 5px;
                display: block;
                height: 53px;
                width: 53px;
                display: flex !important;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin-left: 15px;
            }
        }
    }
}

.social-area li a {
    position: relative;
    z-index: 1;
}

.social-wrapper-two ul li a {
    transition: 0.3s;
}

.social-wrapper-two ul li a i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    margin-right: 7px;
    background: #FFFFFF;
    transition: 0.3s;
    box-shadow: 0px 10px 12px rgb(179 179 179 / 21%), inset 1px 4px 5px rgb(174 172 243 / 30%);
}

.rts-sidebar-menu-desktop .social-area li a i {
    color: var(--color-primary);
    transition: 0.3s;
}

.social-area li a i {
    color: #fff;
    font-size: 14px;
}

.rts-sidebar-menu-desktop .social-area li a::after {
    background: transparent;
    transition: 0.3s;
}

.social-area li a::after {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #292929;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.3s;
}

button.close-icon-menu {
    max-width: max-content;
}

ul#mobile-menu-active {
    padding-left: 0;
}

#anywhere-home {
    background: #0e1013;
    position: fixed;
    width: 100%;
    height: 0%;

    right: 0;
    bottom: 0;
    

    transition: .4s;
    pointer-events: none;
    z-index: 50;
    cursor: url(../images/banner/shape/close.png), auto;
}

#anywhere-home.bgshow {
    background: #000000e3;
    pointer-events: visible;
    z-index: 60;
    height: 100%;
    opacity: 1;

    right: 0;
    top: 0;

    transition: .4s cubic-bezier(0.4, 0, 1, 1);
}

.home-mazin{
    .side-bar button i{
        background: var(--color-primary-m);
    }
    .rts-sidebar-menu-desktop .social-area li a i{
        color: var(--color-primary-m);
    }
}


.side-bar{
    &.mazin-home.show{
        .rts-sidebar-menu-desktop{
            .inner-wrapper{
                nav{
                    ul{
                        li{
                            &.one{
                                animation: flipInX 2s linear;
                                
                                animation-delay: 600ms;
                            }
                            &.two{
                                animation: flipInX 2s linear;
                                
                                animation-delay: 700ms;
                            }
                            &.three{
                                animation: flipInX 2s linear;
                                
                                animation-delay: 800ms;
                            }
                            &.four{
                                animation: flipInX 2s linear;
                                
                                animation-delay: 900ms;
                            }
                            &.five{
                                animation: flipInX 2s linear;
                                
                                animation-delay: 900ms;
                            }
                            &.six{
                                animation: flipInX 2s linear;
                                
                                animation-delay: 1000ms;
                            }
                        }
                    }
                }
                .contact-info-area-wrapper{
                    .phone{
                        animation: flipInX 2s linear;
                        
                        animation-delay: 1100ms;
                    }
                    .address{
                        animation: flipInX 2s linear;
                        
                        animation-delay: 1200ms;
                    }
                    .mail{
                        animation: flipInX 2s linear;
                        
                        animation-delay: 1300ms;
                    }
                    .follow{
                        animation: flipInX 2s linear;
                        
                        animation-delay: 1400ms;
                    }
                }
            }
        }
    }
}

